<!DOCTYPE html>
    <html lang="en">
        <body>
            <form action="/word" method="get">
                <div>
                    <span style="font-size: 40px;">A:</span><img src=https://media.tenor.com/images/63b7be09d71682b75edf62c40bdffde6/tenor.gif width=150px/>
                    <span style="font-size: 40px;">&nbsp&nbspB:</span><img src=https://media.tenor.com/images/94f5d73074fae5d3c821c9a0aa9c42c9/tenor.gif width=150px/>
                    <span style="font-size: 40px;">&nbsp&nbspC:</span><img src=https://media.tenor.com/images/7af218dd6f24b4ae2d2307f4ab0ecaac/tenor.gif width=150px/>
                    <span style="font-size: 40px;">&nbsp&nbspD:</span><img src=https://media.tenor.com/images/47bde6035869e5f940c805a21b0b85f7/tenor.gif width=150px/>
                </div>
                <fieldset>
                <div><h3>Which of the four GIFs below is associated with the MOST happiness / pleasure / positiveness / satisfaction / contentedness / hopefulness OR LEAST unhappiness / annoyance / negativeness / dissatisfaction / melancholy / despair?</h3></div>
                    <input name="v-1-word-b" type="radio" value="A"/>A</p>
                    <input name="v-1-word-b" type="radio" value="B"/>B</p>
                    <input name="v-1-word-b" type="radio" value="C"/>C</p>
                    <input name="v-1-word-b" type="radio" value="D"/>D</p>
                <div><h3>Which of the four GIFs below is associated with the LEAST happiness / pleasure / positiveness / satisfaction / contentedness / hopefulness OR MOST unhappiness / annoyance / negativeness / dissatisfaction / melancholy / despair?</h3></div>
                    <input name="v-1-word-w" type="radio" value="A"/>A</p>
                    <input name="v-1-word-w" type="radio" value="B"/>B</p>
                    <input name="v-1-word-w" type="radio" value="C"/>C</p>
                    <input name="v-1-word-w" type="radio" value="D"/>D</p>
                </fieldset>
                    <p>Note: Two choices cannot be the same!</p>
                    <div style="background-color: red; width:400px; text-align: center;"><h3>{{ mesg }}</h3></div>
                    <button type="submit">Submit</button>
            </form>
        </body>
    </html>