<!DOCTYPE html>
<html>
    <body>
        <form action="/sam-d" method="GET">
            <h3>Look at the following images:</h3>
            <img src="{{url_for('static', filename='SAM-D.png')}}" width="600px" />
            <fieldset>
                <div style="float:left">
                <h3>Which of the four GIFs best describes the left most image?</h3>
                <h4>(submissive / controlled by outside factors / weak / influenced / cared-for / guided)</h4>
                <input name="d-1-sam-w" type="radio" value="A" id="d-1-sam-w-A-ra"/><img name="d-1-sam-w" id="d-1-sam-w-A" src=https://media.tenor.com/images/63b7be09d71682b75edf62c40bdffde6/tenor.gif width=150px onclick="showBorder(this.id)"/>
                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                <input name="d-1-sam-w" type="radio" value="B" id="d-1-sam-w-B-ra"/><img name="d-1-sam-w" id="d-1-sam-w-B" src=https://media.tenor.com/images/94f5d73074fae5d3c821c9a0aa9c42c9/tenor.gif width=150px onclick="showBorder(this.id)"/><br/>
                <input name="d-1-sam-w" type="radio" value="C" id="d-1-sam-w-C-ra"/><img name="d-1-sam-w" id="d-1-sam-w-C" src=https://media.tenor.com/images/7af218dd6f24b4ae2d2307f4ab0ecaac/tenor.gif width=150px onclick="showBorder(this.id)"/>
                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                <input name="d-1-sam-w" type="radio" value="D" id="d-1-sam-w-D-ra"/><img name="d-1-sam-w" id="d-1-sam-w-D" src=https://media.tenor.com/images/47bde6035869e5f940c805a21b0b85f7/tenor.gif width=150px onclick="showBorder(this.id)"/>
                </div>
                <div style="float:right">
                <h3>Which of the four GIFs best describes the right most image?</h3>
                <h4>(dominent / in control of the situation / powerful / influential / important / autonomous)</h4>
                <input name="d-1-sam-b" type="radio" value="A" id="d-1-sam-b-A-ra"/><img name="d-1-sam-b" id="d-1-sam-b-A" src=https://media.tenor.com/images/63b7be09d71682b75edf62c40bdffde6/tenor.gif width=150px onclick="showBorder(this.id)"/>
                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                <input name="d-1-sam-b" type="radio" value="B" id="d-1-sam-b-B-ra"/><img name="d-1-sam-b" id="d-1-sam-b-B" src=https://media.tenor.com/images/94f5d73074fae5d3c821c9a0aa9c42c9/tenor.gif width=150px onclick="showBorder(this.id)"/><br/>
                <input name="d-1-sam-b" type="radio" value="C" id="d-1-sam-b-C-ra"/><img name="d-1-sam-b" id="d-1-sam-b-C" src=https://media.tenor.com/images/7af218dd6f24b4ae2d2307f4ab0ecaac/tenor.gif width=150px onclick="showBorder(this.id)"/>
                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
                <input name="d-1-sam-b" type="radio" value="D" id="d-1-sam-b-D-ra"/><img name="d-1-sam-b" id="d-1-sam-b-D" src=https://media.tenor.com/images/47bde6035869e5f940c805a21b0b85f7/tenor.gif width=150px onclick="showBorder(this.id)"/>
                </div>
            </fieldset>
                <p>Note: Two choices cannot be the same!</p>
                <div style="background-color: red; width:400px; text-align: center;"><h3>{{ mesg }}</h3></div>
                <button type="submit">Submit</button>
        </form>
        <script src="{{url_for('static', filename='js/click_image.js')}}" type="text/javascript"></script>
    </body>
</html>