<!doctype html>
<html lang="en">
<head>
  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type" />
  <script src='https://s3.amazonaws.com/mturk-public/externalHIT_v1.js' type='text/javascript'></script>
</head>
<body>
    <form id="mturk_form" method="post" name="mturk_form">
      <input type="hidden" id="assignmentId" value="" name="assignmentId"/>
      <fieldset>
          <div>
          <h3>Which of the four GIFs below is associated with the LEAST <span id="w-posi-words"></span> OR MOST <span id="w-nega-words"></span></h3>
          <input name="w" type="radio" value="" id="w-A-ra" onclick="radio(this.id)"/><video src="" playsinline autoplay muted loop width=200px name="w" id="w-A" onclick="showBorder(this.id)"></video>
          <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
          <input name="w" type="radio" value="" id="w-B-ra" onclick="radio(this.id)"/><video src="" playsinline autoplay muted loop width=200px name="w" id="w-B" onclick="showBorder(this.id)"></video>
          <input name="w" type="radio" value="" id="w-C-ra" onclick="radio(this.id)"/><video src="" playsinline autoplay muted loop width=200px name="w" id="w-C" onclick="showBorder(this.id)"></video>
          <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
          <input name="w" type="radio" value="" id="w-D-ra" onclick="radio(this.id)"/><video src="" playsinline autoplay muted loop width=200px name="w" id="w-D" onclick="showBorder(this.id)"></video>
          </div>
          <div>
          <h3>Which of the four GIFs below is associated with the MOST <span id="b-posi-words"></span> OR LEAST <span id="b-nega-words"></span></h3>
          <input name="b" type="radio" value="" id="b-A-ra" onclick="radio(this.id)"/><video src="" playsinline autoplay muted loop width=200px name="b" id="b-A" onclick="showBorder(this.id)"></video>
          <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
          <input name="b" type="radio" value="" id="b-B-ra" onclick="radio(this.id)"/><video src="" playsinline autoplay muted loop width=200px name="b" id="b-B" onclick="showBorder(this.id)"></video>
          <input name="b" type="radio" value="" id="b-C-ra" onclick="radio(this.id)"/><video src="" playsinline autoplay muted loop width=200px name="b" id="b-C" onclick="showBorder(this.id)"></video>
          <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>
          <input name="b" type="radio" value="" id="b-D-ra" onclick="radio(this.id)"/><video src="" playsinline autoplay muted loop width=200px name="b" id="b-D" onclick="showBorder(this.id)"></video>
          </div>
      </fieldset>
          <input type="hidden" name="dim" id="dim" value="">
          <input type="hidden" name="tuples" id="tuples" value="">
          <p>Note: Two choices cannot be the same! You have to answer both questions!</p>
          <button type="submit" disabled="true">Submit</button>
  </form>
  <script language='Javascript'>
    window.onload = function() {
      turkSetAssignmentID();
      var dim = decodeURI(decodeURIComponent(turkGetParam('dim', 'Cannot find dim')));
      var gifA = decodeURI(decodeURIComponent(turkGetParam('gifA', 'Cannot find A')));
      var gifB = decodeURI(decodeURIComponent(turkGetParam('gifB', 'Cannot find B')));
      var gifC = decodeURI(decodeURIComponent(turkGetParam('gifC', 'Cannot find C')));
      var gifD = decodeURI(decodeURIComponent(turkGetParam('gifD', 'Cannot find D')));
      var tuples = gifA.concat("_",gifB, "_", gifC, "_", gifD);
      document.getElementById('tuples').value = tuples;
      document.getElementById("dim").value = dim;
      switch(dim){
        case "v":
          document.getElementById("b-nega-words").innerHTML = "unhappiness / annoyance / negativeness / dissatisfaction / melancholy / despair"
          document.getElementById("b-posi-words").innerHTML = "happiness / pleasure / positiveness / satisfaction / contentedness / hopefulness"
          document.getElementById("w-nega-words").innerHTML = "unhappiness / annoyance / negativeness / dissatisfaction / melancholy / despair"
          document.getElementById("w-posi-words").innerHTML = "happiness / pleasure / positiveness / satisfaction / contentedness / hopefulness"
          break;
        case "a":
          document.getElementById("b-nega-words").innerHTML = "unarousal / passiveness / relaxation / calmness / sluggishness / dullness / sleepiness"
          document.getElementById("b-posi-words").innerHTML = "arousal / activeness / stimulation / frenzy / jitteriness / alertness"
          document.getElementById("w-nega-words").innerHTML = "unarousal / passiveness / relaxation / calmness / sluggishness / dullness / sleepiness"
          document.getElementById("w-posi-words").innerHTML = "arousal / activeness / stimulation / frenzy / jitteriness / alertness"
          break;
        case "d":
          document.getElementById("b-nega-words").innerHTML = "submissive / controlled by outside factors / weak / influenced / cared-for / guided"
          document.getElementById("b-posi-words").innerHTML = "dominant / in control of the situation / powerful / influential / important / autonomous"
          document.getElementById("w-nega-words").innerHTML = "submissive / controlled by outside factors / weak / influenced / cared-for / guided"
          document.getElementById("w-posi-words").innerHTML = "dominent / in control of the situation / powerful / influential / important / autonomous"
          break;
      }
      document.getElementById("w-A").src = "../static/gif-10/" + gifA + ".mp4";
      document.getElementById("w-A-ra").value = gifA;
      document.getElementById("w-B").src = "../static/gif-10/" + gifB + ".mp4";
      document.getElementById("w-B-ra").value = gifB;
      document.getElementById("w-C").src = "../static/gif-10/" + gifC + ".mp4";
      document.getElementById("w-C-ra").value = gifC;
      document.getElementById("w-D").src = "../static/gif-10/" + gifD + ".mp4";
      document.getElementById("w-D-ra").value = gifD;
      document.getElementById("b-A").src = "../static/gif-10/" + gifA + ".mp4";
      document.getElementById("b-A-ra").value = gifA;
      document.getElementById("b-B").src = "../static/gif-10/" + gifB + ".mp4";
      document.getElementById("b-B-ra").value = gifB;
      document.getElementById("b-C").src = "../static/gif-10/" + gifC + ".mp4";
      document.getElementById("b-C-ra").value = gifC;
      document.getElementById("b-D").src = "../static/gif-10/" + gifD + ".mp4";
      document.getElementById("b-D-ra").value = gifD;
    }
  </script>
  <script src="../static/js/click_image.js" type="text/javascript"></script>
</body>
</html>